<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>200</key>
	<dict>
		<key>message</key>
		<string>你不能让我加载 我就加载</string>
	</dict>
	<key>201</key>
	<dict>
		<key>message</key>
		<string>ㄟ( ▔, ▔ )ㄏ并没有找到弹幕</string>
	</dict>
	<key>202</key>
	<dict>
		<key>message</key>
		<string>( ´_ゝ｀)加载字幕失败</string>
	</dict>
	<key>203</key>
	<dict>
		<key>message</key>
		<string>可以尝试手♂动搜索</string>
	</dict>
	<key>204</key>
	<dict>
		<key>message</key>
		<string>并没有找到下载的文件</string>
		<key>infomationMessage</key>
		<string>→_→可能是下载路径有误 可以尝试手♂动更新</string>
	</dict>
	<key>205</key>
	<dict>
		<key>message</key>
		<string>文件似乎损坏了</string>
		<key>infomationMessage</key>
		<string>可以重新下载或者尝试手♂动下载</string>
	</dict>
	<key>206</key>
	<dict>
		<key>message</key>
		<string>作者忙着补番 并没有更新ㄟ( ▔, ▔ )ㄏ</string>
	</dict>
	<key>207</key>
	<dict>
		<key>message</key>
		<string>(╬ﾟдﾟ)并没有这个文件夹</string>
		<key>infomationMessage</key>
		<string>你想怎样</string>
	</dict>
	<key>208</key>
	<dict>
		<key>message</key>
		<string>清除成功</string>
	</dict>
	<key>209</key>
	<dict>
		<key>message</key>
		<string>清除失败</string>
	</dict>
	<key>210</key>
	<dict>
		<key>message</key>
		<string>然而这并不是图片</string>
	</dict>
	<key>211</key>
	<dict>
		<key>message</key>
		<string>还☆原☆大☆成☆功</string>
		<key>infomationMessage</key>
		<string>会在下次启动生效</string>
	</dict>
	<key>212</key>
	<dict>
		<key>message</key>
		<string>连接出错</string>
	</dict>
	<key>213</key>
	<dict>
		<key>message</key>
		<string>挖坟中...</string>
	</dict>
	<key>214</key>
	<dict>
		<key>message</key>
		<string>∑(￣□￣)视频不存在</string>
	</dict>
	<key>215</key>
	<dict>
		<key>message</key>
		<string>解析中...</string>
	</dict>
	<key>216</key>
	<dict>
		<key>message</key>
		<string>分析视频...</string>
	</dict>
	<key>217</key>
	<dict>
		<key>message</key>
		<string>下载弹幕...</string>
	</dict>
	<key>218</key>
	<dict>
		<key>message</key>
		<string>下载中...</string>
	</dict>
	<key>219</key>
	<dict>
		<key>message</key>
		<string>发射成功</string>
	</dict>
	<key>220</key>
	<dict>
		<key>message</key>
		<string>发射失败</string>
	</dict>
	<key>221</key>
	<dict>
		<key>message</key>
		<string>并没有匹配到视频</string>
	</dict>
	<key>222</key>
	<dict>
		<key>message</key>
		<string>回车发送弹幕</string>
	</dict>
	<key>223</key>
	<dict>
		<key>message</key>
		<string>不支持发送弹幕</string>
	</dict>
	<key>224</key>
	<dict>
		<key>message</key>
		<string>弹幕格式错误</string>
	</dict>
	<key>225</key>
	<dict>
		<key>message</key>
		<string>缓冲中...</string>
	</dict>
</dict>
</plist>
