<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>flag</key>
		<integer>0</integer>
		<key>keyCode</key>
		<integer>36</integer>
		<key>keyName</key>
		<string>Return</string>
		<key>name</key>
		<string>全屏/退出全屏</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>flag</key>
		<integer>0</integer>
		<key>keyCode</key>
		<integer>49</integer>
		<key>keyName</key>
		<string>Space</string>
		<key>name</key>
		<string>播放/暂停</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>flag</key>
		<real>10485760</real>
		<key>keyCode</key>
		<integer>125</integer>
		<key>keyName</key>
		<string>Down</string>
		<key>name</key>
		<string>音量减</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>flag</key>
		<real>10485760</real>
		<key>keyCode</key>
		<integer>126</integer>
		<key>keyName</key>
		<string>Up</string>
		<key>name</key>
		<string>音量加</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>flag</key>
		<integer>11010048</integer>
		<key>keyCode</key>
		<integer>125</integer>
		<key>keyName</key>
		<string>⌥ Down</string>
		<key>name</key>
		<string>静音</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>flag</key>
		<real>10485760</real>
		<key>keyCode</key>
		<integer>124</integer>
		<key>keyName</key>
		<string>Right</string>
		<key>name</key>
		<string>短快进</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>flag</key>
		<real>10485760</real>
		<key>keyCode</key>
		<integer>123</integer>
		<key>keyName</key>
		<string>Left</string>
		<key>name</key>
		<string>短快退</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>flag</key>
		<integer>11010048</integer>
		<key>keyCode</key>
		<integer>124</integer>
		<key>keyName</key>
		<string>⌥ Right</string>
		<key>name</key>
		<string>普通快进</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>flag</key>
		<integer>11010048</integer>
		<key>keyCode</key>
		<integer>123</integer>
		<key>keyName</key>
		<string>⌥ Left</string>
		<key>name</key>
		<string>普通快退</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>flag</key>
		<integer>8388608</integer>
		<key>keyCode</key>
		<integer>122</integer>
		<key>keyName</key>
		<string>F1</string>
		<key>name</key>
		<string>截图</string>
	</dict>
</array>
</plist>
